html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(228, 228, 228);
}

#top {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 1900px;
    height: 30px;
    z-index: 1;
    border: 1px solid rgb(222, 220, 220);
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
    font-size: 20px;
    padding: 0px 5px 0px 5px;
}

#region {
    position: absolute;
    top: 5px;
    left: 1700px;
    width: 200px;
    height: 23px;
    z-index: 3;
    font-size: 20px;
    white-space: nowrap;
}

#mid {
    position: absolute;
    top: 42px;
    left: 5px;
    width: 1910px;
    height: 1040px;
    z-index: 1;
    border: 1px solid rgb(222, 220, 220);
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
}

/* Setting -------------------------------------------------------------*/
#setting {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 300px;
    height: 676px;
    z-index: 0;
    border: 1px solid rgb(222, 220, 220);
    background-color: rgb(231, 230, 230);
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
    font-size: 20px;
    text-align: center;
    padding: 2px 0px 2px 0px;
}

#time {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 300px;
    height: 30px;
    z-index: 1;
    border-bottom: 2px solid white;
}

#pickerContainer {
    position: absolute;
    top: 38px;
    left: 0px;
    width: 299px;
    height: 150px;
    z-index: 0;
    background-color: rgb(231, 230, 230);
}

#sDate {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 30px;
    z-index: 2;
    border: 1px solid rgb(208, 206, 206);
    background-color: rgb(208, 206, 206);
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}

#eDate {
    position: absolute;
    top:41px;
    left: 5px;
    width: 100px;
    height: 30px;
    z-index: 2;
    border: 1px solid rgb(208, 206, 206);
    background-color: rgb(208, 206, 206);
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}

#startDate {
    position: absolute;
    top:5px;
    left: 110px;
    width: 175px;
    height: 28px;
    z-index: 2;
    border: 1px solid rgb(208, 206, 206);
    background-color: white;
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}

#endDate {
    position: absolute;
    top:41px;
    left: 110px;
    width: 175px;
    height: 28px;
    z-index: 2;
    border: 1px solid rgb(208, 206, 206);
    background-color: white;
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}

#setTime {
    position: absolute;
    top: 116px;
    left: 5px;
    width: 100px;
    height: 30px;
    z-index: 2;
    border: 1px solid rgb(208, 206, 206);
    background-color: rgb(208, 206, 206);
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}

#sTime {
    position: absolute;
    top: 116px;
    left: 111px;
    width: 177px;
    height: 30px;
    z-index: 2;
    border: 1px solid rgb(208, 206, 206);
    background-color: white;
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}

#apply {
    position: absolute;
    top: 153px;
    left : 50%;
    width: 80px;
    height: 30px;
    z-index: 1;
    border: 1px solid rgb(166, 166, 166);
    background-color: rgb(166, 166, 166);
    border-radius: 0.05em;
    box-shadow: 0 0 1px;
    margin-left: -40px;
    margin-bottom: 5px;
    cursor: pointer;
}

#scheme {
    position: absolute;
    top: 190px;
    left: 0px;
    width: 300px;
    height: 90px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#sScheme {
    position: absolute;
    top: 30px;
    left: 5px;
    text-align: left;
}

#price {
    position: absolute;
    top: 285px;
    left: 0px;
    width: 300px;
    height: 120px;
    border-bottom: 2px solid white;
}

#sPrice {
    position: absolute;
    top: 30px;
    left: 5px;
    text-align: left;
}

#mfd {
    position: absolute;
    top: 410px;
    left: 5px;
    width: 289px;
    height: 220px;
    z-index: 3;
    background-color: white;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 0.1em;
    box-shadow: 0 0 1px;
}

#picker {
    position: absolute;
    top: 77px;
    left: 0px;
    width: 299px;
    height: 325px;
    z-index: 4;
    background-color: white;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 0.1em;
    box-shadow: 0 0 1px;
    display: none;
}

/*Time slider--------------------------------------------------------------------------------*/
.middle {
    position: relative;
    top: 143px;
    left: 96px;
    width: 213px;
    z-index: 3;
}
  
.slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
}

.slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(155, 155, 155);
}

.slider > .range {
    position: absolute;
    z-index: 2;
    left: 52px;
    right: 103px;
    top: 0;
    bottom: 0;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(55, 55, 55);
}

.slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 13px;
    height: 13px;
    background-color: rgb(55, 55, 55);
    border-radius: 50%;
    margin-top: 5px;
}

.slider > .thumb.left {
    left: 52px;
    margin: 5px 0px 0px 15px;
    transform: translate(-15px, -10px);
}
.slider > .thumb.right {
    right: 103px;
    margin: 5px 15px 0px 0px;
    transform: translate(26px, -10px);
}

#input-left {
    position: absolute;
    /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
    pointer-events: none;
    appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}

#input-right {
    position: absolute;
    /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
    pointer-events: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
    appearance: none;
}

#input-left::-webkit-slider-thumb {
    /* 겹쳐진 두 thumb를 모두 활성화 */
    pointer-events: all;
    width: 13px;
    height: 13px;
    border-radius: 0;
    border: 2 solid black;
    background-color: red;
    cursor: pointer;
    /* appearance를 해야 위의 스타일들을 볼 수 있음 */
    -webkit-appearance: none;
    margin-left: -95px;
}

#input-right::-webkit-slider-thumb {
    /* 겹쳐진 두 thumb를 모두 활성화 */
    pointer-events: all;
    width: 13px;
    height: 13px;
    border-radius: 0;
    border: 2 solid black;
    background-color: red;
    cursor: pointer;
    /* appearance를 해야 위의 스타일들을 볼 수 있음 */
    -webkit-appearance: none;
    margin-left: -95px
}
/* ------------------------------------------------------------------------*/


/* map ----------------------------------------------------*/

#map {
    position: absolute;
    top: 5px;
    left: 315px;
    width: 960px;
    height: 680px;
    z-index: 2;
    background-color: rgb(208, 206, 206);
    border: 1px solid rgb(208, 206, 206);
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
}

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
  }

/* State ----------------------------------------------------------*/

#state {
    position: absolute;
    top: 695px;
    left: 5px;
    width: 400px;
    height: 335px;
    z-index: 3;
    border: 1px solid rgb(222, 220, 220);
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
}


/* Weight ---------------------------------------------------------------*/

#weight {
    position: absolute;
    top: 695px;
    left: 415px;
    width: 600px;
    height: 325px;
    z-index: 3;
    border: 1px solid rgb(222, 220, 220);
    background-color: rgb(231, 230, 230);
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
    padding-left: 8px;
    font-size: 20px;
    padding: 5px;
}

#selector {
    position: absolute;
    top: 35px;
    left: 5px;
    width: 230px;
    height: 50px;
    font-size: 18px;
    padding-bottom: 5px;
}

.mysel {
    position: absolute;
    top: 88px;
    left: 8px;
    width: 227px;
    height: 88px;
    font-size: 17px;
    margin-top: 3px;
    border: 1px solid rgb(208, 206, 206);
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
}

#updater {
    position: absolute;
    top: 190px;
    left: 8px;
    width: 220px;
    height: 52px;
    border: 1px solid rgb(208, 206, 206);
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 18px;
}

#addWeight {
    position: absolute;
    top: 40px;
    left: 5px;
}

#updater span {
    position: absolute;
    top: 30px;
    left: 130px;
}

#adding {
    position: absolute;
    top: 30px;
    left: 170px;
    width: 50px;
    height: 20px;
    z-index: 3;
    background-color: rgb(217, 217, 217);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

#saver {
    position: absolute;
    top: 270px;
    left: 110px;
    width: 50px;
    height: 25px;
    z-index: 4;
    border: 1px solid rgb(166, 166, 166);
    background-color: rgb(166, 166, 166);
    border-radius: 0.1em;
    box-shadow: 0 0 1px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

#cellmap {
    position: absolute;
    top: 5px;
    left: 260px;
    width: 341px;
    height: 324px;
    background-color: white;
    border: 1px solid rgb(231, 230, 230);
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
}

/* weight slider -------------------------------------------------------------*/
[type="radio"] {
    width: 1.25em;
    height: 1.25em;
    cursor:pointer;
}

#addWeight {
    appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 120px; /* 슬라이더 길이 */
    height: 3px; /* 슬라이더 두께 */
    border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
    background: #ccc; /* 슬라이더 색상 */
    outline: none; /* 슬라이더 테두리 없이 */
}

#addWeight::-webkit-slider-thumb {
    -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 15px; /* 슬라이더 핸들 길이 */
    height: 15px; /* 슬라이더 핸들 높이 */
    border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
    background: RGB(175, 171, 171); /* 슬라이더 핸들 색상 */
    cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}

#addWeight:focus {
    background: rgb(142, 131, 131);
}

/* save -------------------------------------------------------------------------*/

#saved {
    position: absolute;
    top: 695px;
    left: 1034px;
    width: 868px;
    height: 335px;
    z-index: 3;
    border: 1px solid rgb(222, 220, 220);
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
}

#view {
    position: absolute;
    top: 317px;
    left: 5px;
    width: 279px;
    height: 15px;
    border: 1px solid rgb(166, 166, 166);
    background-color: rgb(166, 166, 166);
    border-radius: 0.1em;
    box-shadow: 0 0 1px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

#comp {
    position: absolute;
    top: 317px;
    left: 294px;
    width: 279px;
    height: 15px;
    border: 1px solid rgb(166, 166, 166);
    background-color: rgb(166, 166, 166);
    border-radius: 0.1em;
    box-shadow: 0 0 1px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

#remove {
    position: absolute;
    top: 317px;
    left: 583px;
    width: 279px;
    height: 15px;
    border: 1px solid rgb(166, 166, 166);
    background-color: rgb(166, 166, 166);
    border-radius: 0.1em;
    box-shadow: 0 0 1px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

/*-----------------------------------------------------------------------------------------*/

#compair {
    position: absolute;
    top: 5px;
    left: 1205px;
    width: 279px;
    height: 305px;
    border: 1px solid rgb(231, 230, 230);
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
    display: none;
}