body {
	font-family: "Noto Sans KR", sans-serif;
    color: #555;
}

table th {
    font-weight: normal;
    font-size: .9em;
}
table td {
    font-size: .8em;
}

input, select {
    border: 1px solid #ddd;
    border-radius: 5px;
}

hr {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #ddd;
}

.hidden {
    display: none;
}

.color.original {
    background-color: deepskyblue;
}
.color.predicted {
    background-color: mediumseagreen;
}

.visualization-title {
    margin-left: .5em;
}

.map-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.map {
    width: 100%;
    height: 100%;
}
.map .leaflet-top.leaflet-left {
    left: 310px;
}

.layout.left {
    position: fixed;
    left: 10px;
    width: 300px;
}
.layout.right {
    position: fixed;
    right: 10px;
    width: 500px;
}
.layout.bottom {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 30px;
}

.panel {
    margin: 10px 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 5px #999;
    border-radius: 10px;
}
.panel .panel-header {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #dfdfdf;
}
.panel .panel-header .button {
    float: right;
    width: 15px;
    height: 15px;
    margin-top: 4px;
    padding: 0;
    font-size: 10px;
    cursor: pointer;
    border-radius: .5em;
}
.panel .panel-header .button.close {
    color: #7c231f;
    background-color: #ff5e57;
    border: 1px solid #e34139;
}
.panel .panel-body {
    padding: 10px;
    font-size: .9em;
}

.title {
    padding: 5px;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    letter-spacing: .15em;
    background-color: #f9f9f9;
}
.title a {
    text-decoration: none;
    color: #dd5555;
}

.dataset .panel-body {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: .5em;
}
.dataset .dataset-location {
    cursor: pointer;
}

.filter .panel-body {
    display: grid;
    grid-template-columns: auto 225px;
    grid-gap: .5em;
}
.filter .visualization.filter-date {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr) 17px;
    grid-gap: 1px;
    font-size: .8em;
    text-align: center;
}
.filter .visualization.filter-date .avg-dayname {
    font-size: .8em;
}
.filter .visualization.filter-date .day,
.filter .visualization.filter-date .avg {
    line-height: 1;
    padding: 2px 0;
    /* border: 1px solid black; */
}
.filter .visualization.filter-date .empty-box {
    /* border: 1px solid black; */
    cursor: default;
}
.filter .visualization.filter-date .actual {
    text-shadow: -1px 0 rgb(255 255 255 / 70%), 0 1px rgb(255 255 255 / 70%), 1px 0 rgb(255 255 255 / 70%), 0 -1px rgb(255 255 255 / 70%);
    cursor: pointer;
}
.filter .visualization.filter-date .avg {
    cursor: default;
}
.filter .visualization.filter-date .avg.dayofweek {
    margin-top: 2px;
    height: 17px;
}
.filter .visualization.filter-date .avg.weekly {
    margin-left: 2px;
}

.overview {
    width: min-content;
    margin: 0 auto;
}
.overview .panel-body {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    width: min-content;
    padding: 10px 15px;
}
.overview .legend-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.overview .legend-wrapper .legend {
    width: 120px;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.overview .legend-wrapper .legend-color {
    display: inline-block;
    width: .7em;
    height: .7em;
    vertical-align: middle;
    border-radius: .7em;
}
.overview .legend-wrapper .legend-name {
    display: inline-block;
    vertical-align: middle;
}

.zones .zone-list {
    width: 100%;
    margin-top: 10px;
}
.zones .zone-list tr {
    border-bottom: 1px solid #aaa;
}
.zones .zone-list th, .zones .zone-list td {
    position: relative;
    padding: 5px;
}
.zones .zone-list tr > th:nth-child(n+2),
.zones .zone-list tr > td:nth-child(n+2) {
    border-left: 1px solid #aaa;
}
.zones .zone-list .zone-list-body > tr > td:nth-child(2) {
    width: 50px;
}
.zones .zone-list .zone-list-body > tr > td:nth-child(3) {
    width: 150px;
}
.zones .zone-list .tci {
    text-align: center;
    color: white;
}
.zones .zone-list .tci.red {
    padding: 3px;
    background-color: rgb(255, 50, 50);
    border-radius: 5px;
}
.zones .zone-list .congestion-road-rate-bar {
    height: calc(1.5em + 6px);
    background-color: deepskyblue;
    border-radius: 5px;
}
.zones .zone-list .congestion-road-rate-num {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px 0 rgb(255 255 255 / 70%), 0 1px rgb(255 255 255 / 70%), 1px 0 rgb(255 255 255 / 70%), 0 -1px rgb(255 255 255 / 70%);
}

.inspector {
    position: fixed;
    left: 50%;
    width: fit-content;
    margin: 0 auto;
}
.inspector .panel-row {
    margin-bottom: 5px;
}
.inspector .pricing-cost-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: .5em;
}
.inspector .pricing-cost {
    width: 100%;
}
.inspector .pricing-cost-ticks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -.7em;
    font-size: .7em;
}
.inspector .pricing-cost-ticks .tick {
    width: 2em;
    text-align: center;
}
.inspector .relations .relation {
    display: grid;
    grid-template-columns: 1.5em 4em auto;
}
.inspector .relations .relation .relation-no {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.2em;
    margin-top: .2em;
    font-size: .8em;
    text-align: center;
    border: 1px solid #555;
    border-radius: 1.5em;
}
.inspector .relations .relation .related-zone {
    grid-column: 2 / 4;
}
.inspector .relations .relation .propagation-title {
    grid-column: 2;
}
.inspector .relations .relation .propagation-bar {
    margin: 2px 0;
    overflow: hidden;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.inspector .relations .relation .propagation-bar .propagation-value {
    height: 100%;
    background-color: deepskyblue;
    border-radius: 3px;
}
