body {
	font-family: "Noto Sans KR", sans-serif;
    color: #555;
}

table th {
    font-weight: normal;
    font-size: .9em;
}
table td {
    font-size: .8em;
}

.hidden {
    display: none;
}

.map-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.map {
    width: 100%;
    height: 100%;
}
.map .leaflet-top.leaflet-left {
    left: 310px;
}

.layout.left {
    position: fixed;
    left: 10px;
    width: 300px;
}
.layout.right {
    position: fixed;
    right: 10px;
    width: 300px;
}
.layout.bottom {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 20px;
}

.panel {
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 0 5px #aaa;
    border-radius: 10px;
}
.panel .panel-header {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.panel .panel-body {
    padding: 10px;
    font-size: .9em;
}

.title {
    padding: 5px;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    letter-spacing: .15em;
}
.title a {
    text-decoration: none;
    color: #dd5555;
}

.visualization.filter-datetime {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(7, 1fr) 15px;
    grid-gap: 1px;
    font-size: .8em;
    text-align: center;
}
.visualization.filter-datetime .avg-dayname {
    font-size: .8em;
}
.visualization.filter-datetime .day,
.visualization.filter-datetime .avg {
    line-height: 1;
    padding: 2px 0;
    /* border: 1px solid black; */
}
.visualization.filter-datetime .empty-box {
    /* border: 1px solid black; */
}
.visualization.filter-datetime .actual {
    text-shadow: -1px 0 rgb(255 255 255 / 50%), 0 1px rgb(255 255 255 / 50%), 1px 0 rgb(255 255 255 / 50%), 0 -1px rgb(255 255 255 / 50%);
}
.visualization.filter-datetime .avg.dayofweek {
    height: 15px;
}
