<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/minireset.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css" />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.css" />
    <!-- <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css"> -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-color/1.2.1/d3-color.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://code.jscharting.com/3.3.1/jscharting.js"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin="">
    </script>
    <script src="https://unpkg.com/file-saver/dist/FileSaver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://code.jscharting.com/3.3.1/modules/types.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-umd-min.js"></script>
    <script src="https://npmcdn.com/leaflet-geometryutil"></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>  
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.js"></script>
    <!-- <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script> -->
    <script src="/static/js/moment.js"></script>

    <title>CPVA - Congestion Pricing Visual Analytics</title>
</head>
<body>
    <div class="map-wrapper">
        <div id="map" class="map"></div>
        <div id="legend" style="display:none;">
            <span>Congestion Indicator</span>
            <nav class="legend clearfix">
                <span style="background:#E74C3C;"></span>
                <span style="background:#EC7063;"></span>
                <span style="background:#F1948A;"></span>
                <span style="background:#FADBD8;"></span>
                <span style="background:#FDEDEC;"></span>
                <label>0</label>
                <label>0.4</label>
                <label>0.6</label>
                <label>0.8</label>
                <label>1</label>
            </nav>
        </div>
        <div id="open-inspector" class="open-inspector hidden template">Details</div>
    </div>

    <div class="layout left">
        <div class="panel title">
            <a href=".">CPVA</a> 
        </div>

        <div class="panel dataset">
            <div class="panel-header">Dataset</div>
            <div class="panel-body">
                <label for="dataset-location">Location:</label>
                <select id="dataset-location" name="datasetLocation" class="dataset-location">
                    <option value="SanFrancisco">San Francisco</option>
                    <option value="Proto">Proto</option>
                    <option value="Athens">Athens</option>
                </select>
            </div>
        </div>

        <div class="panel filter">
            <div class="panel-header">Filter</div>
            <div class="panel-body">
                <div id="filter-date" class="visualization filter-date"></div>
                <label for="filter-period">Period:</label>
                <input type="text" id="filter-period" class="filter-period" />
                <span>Time:</span>
                <div id="filter-time" class="visualization filter-time"></div>
            </div>
        </div>
    </div>

    <div class="layout bottom">
        <div class="panel overview">
            <div class="panel-header">Overview</div>
            <div class="panel-body">
                <div class="legend-wrapper">
                    <!-- <div class="legend">
                        <input id="toggle-goal" type="checkbox" />
                        <label for="toggle-goal">Set Goal</label>
                    </div> -->
                    <div class="legend">
                        <div>
                            <div class="legend-color color original"></div>
                            <div class="legend-name">Original</div>
                        </div>
                        <div>
                            <div class="legend-color color predicted"></div>
                            <div class="legend-name">Predicted</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="visualization-title">No. of Road Network Congesion</div>
                    <div id="no-congestion" class="visualization no-congestion">
                        <!-- No. of Road Network Congesion -->
                    </div>
                </div>
                <div>
                    <div class="visualization-title">Network TCI</div>
                    <div id="network-tci" class="visualization network-tci">
                        <!-- Network TCI -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout right">
        <div class="panel districts">
            <div class="panel-header">Districts</div>
            <div class="panel-body">
                <div class="visualization-title">Average TCI</div>
                <div id="average-tci" class="visualization average-tci"></div>
                <table id="district-list" class="district-list">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>TCI</th>
                            <th>Congested Road Rate</th>
                        </tr>
                    </thead>
                    <tbody id="district-list-body" class="district-list-body">
                        <!-- District List -->
                        <tr id="district-list-template" class="hidden">
                            <td class="name">Central Business District</td>
                            <td>
                                <div class="tci red">0.9</div>
                            </td>
                            <td>
                                <div class="congestion-road-rate-bar" style="width: 90%;"></div>
                                <div class="congestion-road-rate-num">90%</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="inspector" class="panel inspector hidden">
        <div class="panel-header drag-handle">
            <span>About Target District</span>
            <button class="close button">&#x2715</button>
        </div>
        <div class="panel-body">
            <div class="panel-row">
                <span>District Name:</span>
                <span id="district-name">Central Business District</span>
            </div>
            <div class="panel-row">
                <label for="pricing-scheme">Pricing Scheme:</label>
                <select id="pricing-scheme" name="pricingScheme">
                    <option value="jddt">Zonal based</option>
                    <option value="cordon">Cordon</option>
                </select>
            </div>
            <div class="panel-row pricing-cost-wrapper">
                <label for="pricing-cost">Cost:</label>
                <div>
                    <div id="pricing-delay" class="visualization pricing-delay"></div>
                    <input id="pricing-cost" class="pricing-cost" type="range" list="pricing-cost-list" />
                    <datalist id="pricing-cost-list" class="pricing-cost-list"></datalist>
                    <!-- <div id="pricing-cost-ticks" class="pricing-cost-ticks"></div> -->
                </div>
            </div>
            <hr>
            <div class="panel-row relations">
                <div class="relation">
                    <div class="relation-no-wrapper">
                        <div class="relation-no">1</div>
                    </div>
                    <div class="related-district">Between <span id="related-district-name">Downtown</span></div>
                    <div class="propagation-title">Inflow</div>
                    <div class="propagation-bar">
                        <div class="propagation-value" style="width: 50%;"></div>
                    </div>
                    <div class="propagation-title">Outflow</div>
                    <div class="propagation-bar">
                        <div class="propagation-value" style="width: 30%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/dataset.js"></script>
    <script src="/static/js/map/map.js"></script>
    <script src="/static/js/map/district_layer.js"></script>
    <script src="/static/js/map/traffic_encoding.js"></script>
    <script src="/static/js/layouts/filter.js"></script>
    <script src="/static/js/layouts/overview.js"></script>
    <script src="/static/js/layouts/districts.js"></script>
    <script src="/static/js/layouts/inspector.js"></script>
</body>
</html>
