<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/minireset.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css" />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.css" />
    <link rel="stylesheet" href="/static/css/style.css" />

    <script src="http://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://code.jscharting.com/3.3.1/jscharting.js"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin="">
    </script>
    <script src="https://unpkg.com/file-saver/dist/FileSaver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://code.jscharting.com/3.3.1/modules/types.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-umd-min.js"></script>
    <script src="https://npmcdn.com/leaflet-geometryutil"></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>  
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.js"></script>

    <title>CPVA - Congestion Pricing Visual Analytics</title>
</head>
<body>
    <div class="map-wrapper">
        <div id="map" class="map"></div>
        <div id="legend" style="display:none;">
            <strong>Congestion Indicator</strong>
            <nav class="legend clearfix">
                <span style="background:#E74C3C;"></span>
                <span style="background:#EC7063;"></span>
                <span style="background:#F1948A;"></span>
                <span style="background:#FADBD8;"></span>
                <span style="background:#FDEDEC;"></span>
                <label>0</label>
                <label>0.4</label>
                <label>0.6</label>
                <label>0.8</label>
                <label>1</label>
            </nav>
        </div>
    </div>

    <div class="layout left">
        <div class="panel title">
            <a href=".">CPVA</a> 
        </div>

        <div class="panel dataset">
            <div class="panel-header">Dataset</div>
            <div class="panel-body">
                <label for="dataset-location">Location:</label>
                <select id="dataset-location" name="datasetLocation">
                    <option value="SanFrancisco">San Francisco</option>
                    <option value="Proto">Proto</option>
                    <option value="Athens">Athens</option>
                </select>
            </div>
        </div>

        <div class="panel filter">
            <div class="panel-header">Filter</div>
            <div class="panel-body">
                <div id="calendar-heatmap" class="visualization calendar-heatmap"></div>
                <div class="panel-row">
                    <label for="filter-period">Period:</label>
                    <input type="text" id="filter-period" />
                </div>
                <div class="panel-row">
                    <strong>Time:</strong>
                    <div class="visualization time-tci">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout bottom">
        <div class="panel overview">
            <div class="panel-header">Overview</div>
            <div class="panel-body">
                <div class="legend">
                    <input id="toggle-goal" type="checkbox" />
                    <label for="toggle-goal">Set Goal</label>
                </div>
                <div class="legend">
                    <div class="legend-color original">&nbsp;</div>
                    <div class="legend-name">Original</div>
                    <div class="legend-color predicted">&nbsp;</div>
                    <div class="legend-name">Predicted</div>
                </div>
                <div class="visualization no-congestion">
                    <div class="visualization-title">No. of Road Netework Congesion</div>
                    <!-- No. of Road Netework Congesion -->
                </div>
                <div class="visualization network-tci">
                    <div class="visualization-title">Network TCI</div>
                    <!-- Network TCI -->
                </div>
            </div>
        </div>
    </div>

    <div class="layout right">
        <div class="panel zones">
            <div class="panel-header">Zones</div>
            <div class="panel-body">
                <div class="visualization average-tci">
                    <div class="visualization-title">Average TCI</div>
                    <!-- Average TCI -->
                </div>
                <table id="zone-list" class="zone-list">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>TCI</th>
                            <th>Congested Road Rate (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Zone List -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="inspector" class="panel inspector hidden">
        <div class="panel-header">About Target Area</div>
        <div class="panel-body">
            <div class="panel-row">
                <label>Pricing Scheme:</label>
                <select id="pricing-scheme" name="pricingScheme">
                    <option value="jddt">Zonal based</option>
                    <option value="cordon">Cordon</option>
                </select>
            </div>
            <div class="panel-row">
                <strong>Cost:</strong>
                <input type="radio" id="price-7" name="price" value="7" checked />
                <label for="price-7">7$</label>
                <input type="radio" id="price-14" name="price" value="14" />
                <label for="price-14">14$</label>
                <input type="radio" id="price-21" name="price" value="21" />
                <label for="price-21">21$</label>
            </div>
            <hr>
            <div class="relations">
                <div class="relation-item hidden">
                    <div class="relation-row">
                        <div class="relation-no">n</div>
                        <div class="related-zone">Between <span id="related-zone-name"></span></div>
                    </div>
                    <div class="relation-row">
                        <div class="propagation">
                            <strong>Inflow</strong>
                            <div class="propagation-bar">
                                <div class="propagation-value">&nbsp;</div>
                            </div>
                        </div>
                        <div class="propagation">
                            <strong>Outflow</strong>
                            <div class="propagation-bar">
                                <div class="propagation-value">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/map.js"></script>
    <script src="/static/js/map_incoding.js"></script>
    <script src="/static/js/filter/calendar_heatmap.js"></script>
</body>
</html>
